{{>partials/header}}
<div class="container">
  <h2>Conheça alguns dos nossos Pensamentos</h2>

  <form action="">
    <input type="text" placeholder="está buscando por algo?" />
    <button>Buscar</button>
  </form>

  <div class="pensamentos-container">
    <div>
      <p>"pensamento1"</p>
      <blockquote>author:{{name}}</blockquote>
    </div>
    <div>
      <p>pensamento2</p>
      <blockquote>author:</blockquote>
    </div>
    <div>
      <p>pensamento3</p>
      <blockquote>author:</blockquote>
    </div>
  </div>
</div>

{{>partials/footer}}
