{{>partials/header}}

<!-- MENU -->
<div class="container-menu">
  <div class="logo-menu">
    <img src="media/toughts_logo.png" alt="logo-menu" />
  </div>
  <div class="btn-menu">
    <ul>
      <li>Entrar</li>
    </ul>
  </div>
</div>
<!-- MENU -->

<div class="container">
  <h2>Registrar</h2>
  <form action="/register" method="POST">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="name" />
    </div>
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="E-mail ..." />
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="senha" />
    </div>
    <div class="form-control">
      <label for="nome">Confirma Senha:</label>
      <input
        type="password"
        name="confirmpassword"
        placeholder="Confirme a sua senha"
      />
    </div>
    <input type="submit" value="cadastrar" />
    <p>Já tem conta? <a href="/login">Clique aqui</a></p>
  </form>
</div>

{{>partials/footer}}
