<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title>Pensamentos</title>
  </head>
  <body>
    <!-- MENU -->
    <div class="container-menu">
      <div class="logo-menu">
        <img src="media/toughts_logo.png" alt="logo-menu" />
      </div>
      <div class="btn-menu">
        <ul>
          <li>Pensamento</li>
          <li>Entrar</li>
          <li>Registrar</li>
        </ul>
      </div>
    </div>
    <!-- MENU -->
  </body>
</html>
